body {
    background-color: aqua;
    font: normal 15pt Arial;
    text-align: center;
}
header {
    margin: auto;
}
section{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 8px rgb(87, 87, 87);
    width: 600px;
}
footer{
    font-style: italic;
}