body {
    background-color: #363131;
    font: normal 20pt Arial;
    color: antiquewhite;
    align-items: center;
}

h1 {
    text-align: center;
}
div#quote {
    background-color: #5a5353;
    text-align: center;
    width: 450px;
    padding: 20px;
    border-radius: 21px;
    margin: auto;
}

input#txtbrk {
    width: 36px;
}

div#res {
    margin-top: 20px;
}

#pict {
    margin: 3px;
    margin-top: 0px;
}