body {
    background-color: aqua;
    font: normal 15pt Inter;
    text-align: center;
}
header {
    margin: auto;
    width: 368px;
    border-radius: 5px;
}
section{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 8px rgb(87, 87, 87);
    width: 368px;
}
footer{
    font-style: italic;
    opacity: 0.7;
}